@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
  --grey-50: #F4F6FA;
  --grey-500: #626C7F;
  --blue-50: #EBF0FF;
  --blue-100: #EDF1F9;
  --blue-300: #ABC1E1;
  --blue-500: #306AFF;
  --blue-850: #3B4D66;
  --blue-900: #313E51;
  --blue-950: #2D3949;
  --green-100: #E0FDEF;
  --green-500: #2FD887;
  --purple-100: #F6E7FF;
  --purple-600: #A729F5;
  --orange-50: #FFF5ED;
  --orange-400: #FF7E35;
  --red-500: #EE5454;

}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
